@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #0e1017;
}

body {
  background-color: #fffbf7;
  font-family: "Roboto", sans-serif;
  line-height: 1.563rem;
  display: flex;
}

#root {
  flex: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

ul {
  list-style-type: none;
}

.align-left {
  text-align: left;
}

.section-heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.topic-tag {
  display: inline-block;
  color: #6e4f3c;
}
