* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

.header {
  border: 2px solid black;
  padding: 1rem 2rem;
}

.footer {
  border: 2px solid rgb(61, 58, 58);
  padding: 1rem 2rem;
}

.nav {
  border: 2px solid cornflowerblue;
  padding: 1rem 2rem;
}

.home-page {
  border: 2px solid burlywood;
  padding: 1rem 2rem;
}

.articles-view {
  border: 2px solid rgb(214, 131, 22);
  padding: 1rem 2rem;
}

.banner {
  border: 2px solid rgb(232, 185, 124);
  padding: 1rem 2rem;
}

.articles-list {
  border: 2px solid blanchedalmond;
  padding: 1rem 2rem;
}

.article-card {
  border: 2px solid rgb(198, 182, 156);
  padding: 1rem 2rem;
}
